
<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= render 'shared/error_messages', object: f.object %>
	
  <div><%= f.label :name %><br />
  <%= f.text_field :name, :autofocus => true, :required => true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up", class: "btn btn-large btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>

 </div>
</div>