<% provide(:title, @book.title)%>
<aside>
<%= @book.isbn %>, <%= @book.title %>, <%= @book.author %>

<p>Averate rating</p>
<div id="star"></div>

<p>Your rating</p>
<div id="user_star"></div>
</aside>
 <div class="row">
    <aside class="span4">
      
      <section>
        <%= render 'shared/review_form' %>
      </section>
    </aside>
  </div>
<div class="span8">
    <% if @book.reviews.any? %>
      <h3>Reviews (<%= @book.reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
</div>